.select-default {
  .el-input__inner {
    width: 81px;
    height: 19px;
    line-height: 17px;
    background: rgba(253, 237, 185, 0.1);
    border: 1px solid #ffe480;
    border-radius: 9px;
    font-size: 12px;
    font-family: Source Han Serif CN;
    font-weight: bold;
    color: #f6c866;
  }
}

.select-default-popper.el-select__popper.el-popper {
  background: none !important;
  border: 1px solid #ffe480 !important;
  backdrop-filter: blur(16px);
  .el-select-dropdown__item {
    color: #fff;
    &.hover {
      background-color: rgba(253, 237, 185, 0.1);
    }
    &.selected {
      color: #f6c866;
    }
  }
  .el-popper__arrow::before {
    border: none !important;
    background: linear-gradient(315deg, #ffe48000 50%, #ffe480 50%) !important;
  }
}

.month-select-default.el-date-editor--month {
  width: 100px !important;
  .el-input__inner {
    // width: 81px;
    height: 19px;
    line-height: 17px;
    background: rgba(253, 237, 185, 0.1);
    border: 1px solid #ffe480;
    border-radius: 9px;
    font-size: 12px;
    font-family: Source Han Serif CN;
    font-weight: bold;
    color: #f6c866;
    text-align: center;
    padding: 0;
  }
  .el-input__prefix {
    display: none;
  }
}

.month-select-default-popper {
  background: none !important;
  border: 1px solid #ffe480 !important;
  backdrop-filter: blur(16px);
  .el-date-picker__header-label {
    color: #ffe480;
  }
  .el-popper__arrow::before {
    border: none !important;
    background: linear-gradient(315deg, #ffe48000 50%, #ffe480 50%) !important;
  }
  .el-date-picker__header--bordered {
    border-bottom-color: #ffe480;
  }
  .el-month-table td .cell {
    color: #ffe480;
  }
  .el-picker-panel {
    background: none;
  }
}
