@font-face {
  font-family: 'DIN Alternate';
  src: url('https://wlxc.xscitydo.com:28080/font-files/DIN/DIN-Alternate-Bold.ttf');
}
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url("./YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: 'MiSans-Semibold';
  src: url('https://wlxc.xscitydo.com:28080/font-files/MiSans/MiSans-Semibold.ttf');
}

@font-face {
  font-family: 'MiSans-Medium';
  src: url('https://wlxc.xscitydo.com:28080/font-files/MiSans/MiSans-Medium.ttf');
}

@font-face {
  font-family: 'MiSans-Normal';
  src: url('https://wlxc.xscitydo.com:28080/font-files/MiSans/MiSans-Normal.ttf');
}

@font-face {
  font-family: 'MiSans-Regular';
  src: url('https://wlxc.xscitydo.com:28080/font-files/MiSans/MiSans-Regular.ttf');
}

@font-face {
  font-family: 'TTTGB-Medium';
  src: url('https://wlxc.xscitydo.com:28080/font-files/TTTGB-Medium.ttf');
}

@font-face {
  font-family: 'Source Han Serif CN';
  src: url('https://wlxc.xscitydo.com:28080/font-files/SourceHanSerifCN/SourceHanSerifCN-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Source Han Serif CN';
  src: url('https://wlxc.xscitydo.com:28080/font-files/SourceHanSerifCN/SourceHanSerifCN-Heavy.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('https://wlxc.xscitydo.com:28080/font-files/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('https://wlxc.xscitydo.com:28080/font-files/SourceHanSansCN/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Normal';
  src: url('https://wlxc.xscitydo.com:28080/font-files/SourceHanSansCN/SourceHanSansCN-Normal.otf');
}
